POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=orders_db
DATABASE_URL=postgresql://user:password@postgres:5432/orders_db
REDIS_URL=redis://redis:6379

# Service Discovery
NEXT_PUBLIC_INVENTORY_SERVICE_URL=http://inventory-service:3001/api
NEXT_PUBLIC_ORDER_SERVICE_URL=http://order-service:3002/api
NEXT_PUBLIC_API_URL=http://localhost:3000